@{
    ViewBag.Title = "İletişim Bilgileri";
}
<h2>@ViewBag.Title.</h2>

<address>
    İstanbul <br />
   
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:bburakggunduz1907@gmail.com">bburakggunduz1907@gmail.com</a><br />
</address>